body {
    margin: 0;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    height: 60vh;
}

.title>span {
    font-size: 50px;
}

.entireDisplay {
    background-color: rgb(40, 40, 40);
}

.entireDisplay>span {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 50px; */
    font-size: 50px;
}

#donationAmt {
    background: linear-gradient(to right, #c0392b, #8e44ad);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 190px;
    direction:initial
}

.display-bignumber {
    color: rgb(99, 52, 114);
    font-size: 50px;
}

.full {
    display: flex;
    height: 60vh;
    justify-content: space-between;
    padding-left: 20vw;
    padding-right: 20vw;
    align-items: flex-start;
    margin-top: -15vh;
}